*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 
font-family: 'Assistant', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Tenor Sans', sans-serif;*/

html {
  //1REM === 10PX
  font-size: 62.5%;
}

body {
  font-family: 'Tenor Sans', sans-serif;
}

.word {
  text-align: center;
}

.sentence {
  text-align: initial;
}

.current-word {
  display: inline;
  background: hsla(207, 100%, 90%, .5);
}

.correct-word {
  color: hsla(139, 46%, 54%, 1);
}

.wrong-word {
  color: hsla(0, 100%, 49%, 1);
  text-decoration: underline;
}