.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  row-gap: 6rem;
  min-height: 80vh;

  & .intro {
    grid-column: 1 / -1;
    text-align: center;

    &>p {
      font-size: 1.6rem;
      width: 80%;
      margin-inline: auto;
    }
  }

  & .start {
    font-size: 1.4rem;
    grid-column: 1/-1;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 120%;
    animation: bounceUp 1000ms ease-in-out infinite alternate;
  }
}