.mode {
  $mode-shadow: .5rem .5rem 1rem #dedede;
  $mode-shadow-fff: -.5rem -.5rem 1rem #ffffff;
  background: #fff;
  padding: 2rem;
  width: 10rem;
  height: 10rem;
  box-shadow: $mode-shadow,
  $mode-shadow-fff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 1.5rem;
  }
}