.mode {
  $mode-shadow: .5rem .5rem 1rem #dedede;
  $mode-shadow-fff: -.5rem -.5rem 1rem rgba(240, 240, 240, .4);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;

  &__link {
    background: #fff;
    color: #000;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;

    box-shadow: $mode-shadow,
      $mode-shadow-fff;

    &:is(:hover, :focus) {
      box-shadow: inset $mode-shadow-fff,
        inset $mode-shadow;

      & svg {
        animation: backForth 1150ms linear forwards;
      }
    }

    @keyframes backForth {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(45deg);
      }

      50% {
        transform: rotate(-45deg);
      }
      
      75%{
        transform: rotate(20deg);
      }

      100% {
        tranform: rotate(0deg)
      }
    }

    &>svg {
      width: 100%;
      fill: rgba(0, 190, 235, 1);
    }
  }

  &__heading {
    font-size: 1.5rem;
    box-shadow: $mode-shadow,
      $mode-shadow-fff;
    padding: 1rem 2rem;
    border-radius: .5rem;
    width: 10rem;
    text-align: center;
  }
}