.header {
  $svg-height: 7rem;

  background: hsla(36, 0%, 90%, .5);
  color: #4B4A4A;
  border-radius: 0 0 1rem 1rem;

  &--home {
    background: #fff;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .1);
    padding-inline: 1rem;

    &,
    &>.author-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &>.author-link svg {
      width: 3rem;
      height: $svg-height;
    }

    & .logo {
      display: flex;
      width: 50%;
      height: $svg-height;
      fill: rgba(0, 190, 235, 1);
    }

  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 2rem;
    margin: 0;
    list-style: none;
    width: 100%;

    &>li {
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Assistant', sans-serif;

      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;

      &>span {
        font-size: 1.5rem;
        letter-spacing: .1rem;
      }
    }
  }
}